/*fuente*/
@import url('https://fonts.googleapis.com/css?family=Wix%20Madefor%20Display:700|Wix%20Madefor%20Display:400');

body {
  font-family: 'Wix Madefor Display';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Wix Madefor Display';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/*Colors*/
:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #181818;
  --secondary: #4f4f4f;
  --accent: #e42121;
}

/*General*/
body{
  background-color: var(--background);
  color:var(--text);
}

#Home, #Proyects, #Skills, #Tecnologys{
  min-height: 100vh;
}

#About{
  height: 500px;
}

#About, #Proyects, .sticky-header, footer{
  background-color:var(--primary);
}

.fot-icons{
  font-size: 30px;
}

.fot-icons:hover{
  color: var(--accent);
  transition: background-color 0.3s ease-in-out;
}

.tecnologia{
  padding-top: 25px;
  padding-bottom: 25px;
  border:3px solid var(--accent);
  background-color: var(--primary);
}

.tecnologia:hover{
  background-color: var(--secondary);
}

.tecnology-h4{
  background-color: var(--accent);
  margin-bottom: 20px;
}

table{
  table-layout: fixed;
  margin-top:25px;
}

tr{
  height: 50px;
}

table tr:nth-child(even){
  background-color: var(--primary);
}

table tr:nth-child(odd){
  background-color: var(--secondary);
}

td{
  height: 85px;
}

p{
  font-size: 1.4rem;
}

.proyect-img{
  width: 500px;
  height: 650px;
}

hr{
  border-color: var(--primary);
  border: 1px solid;
  margin: 0;
}

.home-h1{
  margin-top: 30px;
}

.home-h1, .home-h2 {
  margin-bottom: 30px;
}

.home-p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.logo:hover{
  text-transform: uppercase;
  letter-spacing: 1px;
  color:var(--secondary)
}

a{
  color:var(--text);
  border-radius: 5px;
}

.header-link:hover{
  background-color: #fff;
  color:#000;
  transition: color 0.2s ease-in-out;
}

.home-link{
  color:var(--text);
  font-size: 1.2rem;
  background-color: var(--accent);
  transition: color 0.5s ease-in-out;
  margin-top: 15px;
}

.home-link:hover{
  background-color: #fff;
  color:#000;
  transition: color 0.5s ease-in-out;
}