/*fuente*/
@import url('https://fonts.googleapis.com/css?family=Wix%20Madefor%20Display:700|Wix%20Madefor%20Display:400');

body {
  font-family: 'Wix Madefor Display';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Wix Madefor Display';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/*Colores*/
:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #0d0d0d;
  --secondary: #4f4f4f;
  --accent: #e42121;
}

/*General*/
*{
  list-style: none;
  text-decoration: none;
  color:#ffffff;
}

body{
  background-color: #000000;
  padding-top: 80px;
}

/*Header*/
header{
  display: flex;
  justify-content: space-between;
}

.sticky-header {
  position: fixed;
  top: 0;
  right: 1px;
  z-index: 100;
  width: 100%;
  background-color: #9b9b9b;
}

.logo {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 1px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1); 
  color: var(--secondary);
}

.header-ul{
  display: flex;
}

.header-link {
  color: var(--background);
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header-link:hover {
  color: var(--primary);
  background-color: var(--background);
}

.header-icon{
  width: 50px;
  margin-top: 17px;
  margin-left: 70px;
}

/*Backgrounds distintivos*/
#About, #Conocimientos{
  background-color: var(--primary);
}

/*Home*/
#Home {
  background-image: url('ruta-de-tu-imagen.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  color: var(--background);
  text-align: center;
  padding: 100px 20px; /* Ajusta el relleno según sea necesario */
}

.home-h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.home-p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.home-link {
  display: inline-block;
  background-color: var(--accent);
  color: var(--background);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor:pointer;
}

.home-link:hover{
  color: black;
  background-color: var(--background);
  text-decoration: none;
}

/*About*/
#About {
  padding: 50px;
  text-align: center;
  background-color: var(--primary);
  color: var(--background);
}

.about-h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-div {
  max-width: 800px;
  margin: 0 auto;
}

/*Proyectos*/
#Proyectos {
  padding: 50px;
  color: var(--background);
}

.proyect-h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.proyect-a {
  color: var(--accent);
  text-decoration: underline;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.proyect-a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.proyecto {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.proyecto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.proyecto h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.proyecto p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.proyecto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: var(--accent);
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.proyectos-extra {
  display: none;
}

.proyectos-extra.show-more {
  display: block;
}

.toggle-more {
  text-align: center;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--background);
  padding: 10px 20px;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.toggle-more:hover {
  background-color: var(--background);
  color: var(--text);
}


/*Conocimientos*/
#Conocimientos {
  background-color: var(--primary);
  padding: 50px;
  color: var(--background);
}

.skills-h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid var(--accent);
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: var(--accent);
  color: var(--background);
}

tr:nth-child(odd) {
  background-color: var(--secondary);
}

tr:hover td {
  background-color: rgba(255, 255, 255, 0.1);
}

/*Tecnologias*/
#Tecnologias {
  padding: 50px;
  color: var(--background);
}

.tecnology-h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tecnology-h4 {
  background-color: var(--accent);
  color: var(--background);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.tecnology-h4-isa:hover{
  background-color:#5a1919;
  transition: all ease 0.1s;
}

.tecnologia {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--accent);
  border-radius: 10px;
  padding: 15px;
}

.tecnologia:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.tecnologia h3,
.tecnologia p {
  margin-top: 10px;
}

.tecnologia h3,
.tecnologia p,
.tecnologia a {
  text-align: center;
}

.backend-dev,.frontend-dev{
  text-align: center;
}

.frontend-dev .tecnologia,
.backend-dev .tecnologia {
  border-color: var(--secondary);
}

.frontend-dev .tecnologia:hover,
.backend-dev .tecnologia:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.frontend-dev .tecnologia:hover,
.backend-dev .tecnologia:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Footer*/
footer {
  background-color: var(--primary);
  color: var(--text);
  padding: 20px;
  text-align: center;
}

.about-section, .contact-section, .bottom-section {
  margin-bottom: 20px;
}

hr {
  border: 1px solid var(--text);
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fot-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fot-icons:hover {
  background-color: var(--accent);
}

.fot-icons i {
  font-size: 24px;
  color: var(--text);
}

.bottom-section h3 {
  margin-top: 20px;
}

/* Media Query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  body {
    padding-top: 60px;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  .header-ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .header-link {
    margin-bottom: 10px;
  }

  .header-icon {
    margin: 10px 0;
  }
}

/* Media Query para pantallas aún más pequeñas */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.8rem; /* Ajusta según sea necesario */
  }

  h2 {
    font-size: 2.2rem; /* Ajusta según sea necesario */
  }

  h3 {
    font-size: 1.8rem; /* Ajusta según sea necesario */
  }

  h4 {
    font-size: 1.4rem; /* Ajusta según sea necesario */
  }

  h5 {
    font-size: 1.2rem; /* Ajusta según sea necesario */
  }

  small {
    font-size: 0.6rem; /* Ajusta según sea necesario */
  }
}